<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h4>Graph here</h4>
        <hr>
        <p>tnps-trends works!</p>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h4>Graph here</h4>
        <hr>
        <p>tnps-trends works!</p>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h4>Graph here</h4>
        <hr>
        <p>tnps-trends works!</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laudantium aut recusandae dolorem, totam quae illo nobis officia delectus cum a excepturi facilis fugit nisi maiores reprehenderit tempora nulla molestias?</p>
</div>