<app-nav-bar></app-nav-bar>

<div class="screen">
    <div class="container">
        <div class="row">
            <div class="card sidemenu col-md-2 col-lg-2 col-sm-12">
                <app-side-bar [fullName]='userFullName' [authLevel]='currentLevel'></app-side-bar>
            </div>
            <!--- START CONTENT HERE -->

            <div class="col-md-10 col-lg-10 col-sm-12">
                <div class="card">
                    <h4>Responses</h4>
                    <table >
                        <tr>
                            <th>Time Stamp</th>
                            <th>Staff username</th>
                            <th>Mobile/Extension No</th>
                            <th>NPS Score</th>
                            <th>Resolution</th>
                            <th> Verbatim</th>
                            <th>Satisfaction</th>
                        </tr>
                    </table>

                </div>
            </div>


            <!-- END CONTENT HERE -->
        </div>
    </div>