<div class="auth-container">
        <div class="row">
            <div class="Rectangle-582">
                <div class="row auth_logo">
                    <img src="../../assets/auth/auth_logo.png">
                </div>
                <div class="row Welcome-to-Safaricom-I-TNPS">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <p class="text-center">Welcome to</p>
                        <p class="text-style-1 text-center">Safaricom I-TNPS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <form>
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username"
                                         class="form-control auth-input" placeholder="Enter Username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-sm-12">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password"
                                         class="form-control auth-input" placeholder="Enter Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-sm-12">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block"> Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
