/* You can add global styles to this file, and also import other style files */
/* .ul{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
    color: blue;
  } */