<div class="card-body">
    <img src="..." class="profile-pic" alt="...">
    <small class="profile-name">Damaris Njeri
    <span class="profile-level">Manager </span></small>
    <hr class="profile-separator">
</div>
<div class="list-group">
    <p><a class="menu-item">
    <img src="../../assets/dashboard/dashboard_24_px.png"
    class="menu-item-image">&emsp;Dashboard</a></p>
    <p><a class="menu-item">
        <img src="../../assets/dashboard/network_check_24_px@2x.png"
        class="menu-item-image">&emsp;Reports</a></p>
    <p><a class="menu-item">
        <img src="../../assets/dashboard/call_24_px_1@3x.png"
        class="menu-item-image">&emsp;Responses</a></p>
    <p><a class="menu-item">
        <img src="../../assets/dashboard/live_help_24_px@3x.png"
            class="menu-item-image">&emsp;Help</a></p>
    <p class="menu-item-divider"></p>
    <p><a class="menu-item">
    <img src="../../assets/dashboard/login_24_px@3x.png"
        class="menu-item-image">&emsp;Logout</a>
    </p>
</div>